@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);
/****************
*****************

Basic Reset


*****************
*****************/
@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);
@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);
@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);
*:before,
*:after {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: "Pacifico", cursive; }

img {
  max-width: 100%; }

input, label, textarea, button {
  display: block; }

a {
  text-decoration: none; }

/****************
*****************

Basic Reset


*****************
*****************/
*:before,
*:after {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: "Pacifico", cursive; }

img {
  max-width: 100%; }

input, label, textarea, button {
  display: block; }

a {
  text-decoration: none; }

/****************
*****************

Basic Reset


*****************
*****************/
*:before,
*:after {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: "Pacifico", cursive; }

img {
  max-width: 100%; }

input, label, textarea, button {
  display: block; }

a {
  text-decoration: none; }

body {
  padding-bottom: 50em; }

.l-container {
  width: 90%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  margin-left: auto;
  margin-right: auto; }

.header {
  position: fixed;
  top: 0;
  right: 0;
  height: 40px;
  width: 100%;
  background: -webkit-linear-gradient(#71F79F, #34B553);
  background: linear-gradient(#71F79F, #34B553);
  margin-bottom: 2px;
  -webkit-transition: .8s;
  transition: .8s; }
  .header__main-logo, .header__user {
    height: 40px;
    line-height: 40px; }
  .header__main-logo {
    padding-left: 10px;
    width: 40%;
    height: 60px; }
  .header__user {
    width: 60%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
  @media screen and (min-width: 480px) {
    .header {
      height: 60px;
      display: block;
      background: -webkit-linear-gradient(170deg, #34B553, #71F79F);
      background: linear-gradient(280deg, #34B553, #71F79F); }
      .header__main-logo, .header__user {
        height: 60px;
        line-height: 60px; } }

.comunidades {
  position: fixed;
  top: 42px;
  height: 40px;
  width: 100%;
  background: -webkit-linear-gradient(#34B553, #71F79F);
  background: linear-gradient(#34B553, #71F79F);
  line-height: 40px;
  -webkit-transition: .6s;
  transition: .6s; }
  @media screen and (min-width: 480px) {
    .comunidades {
      top: 62px;
      width: 4em;
      text-align: center;
      height: 100vh;
      background: -webkit-linear-gradient(170deg, #34B553, #71F79F);
      background: linear-gradient(280deg, #34B553, #71F79F); }
      .comunidades .menu-vertical {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; } }

[class*=icon-] {
  color: #1598be; }

[class*=__link]:focus {
  border-bottom: 2px solid #1282A2; }

/****************
*****************

Basic Reset


*****************
*****************/
*:before,
*:after {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: "Pacifico", cursive; }

img {
  max-width: 100%; }

input, label, textarea, button {
  display: block; }

a {
  text-decoration: none; }

.main-header {
  background: #34B553;
  width: 100%;
  height: 60px; }
  .main-header-title {
    color: #202531;
    vertical-align: middle;
    text-align: center;
    font-size: 2.2em; }
  .main-header-link__forgot, .main-header-link__register {
    display: block;
    margin: 2em 2em 20px 5px;
    color: #1282A2; }

[class^=main-header-link__]:hover {
  color: #34B553; }

.container-login, .container-register {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em; }
  .container-login-subtitle, .container-register-subtitle {
    margin: 0 0 1em 8px; }
  .container-login-form, .container-register-form {
    width: 90%;
    height: auto;
    padding: 1.5em 0;
    border: 2px solid #34B553;
    margin: 0 auto 1em; }
  .container-login-logo, .container-register-logo {
    width: 100%; }

.container-register-subtitle {
  margin-top: 4em; }

[class*=label__],
[class*=input__],
[class*=button__] {
  display: block;
  margin: 0 0 8px 5px; }

[class*=label__] {
  color: #1282A2;
  font-family: "Lobster", cursive;
  font-size: 1.3em;
  line-height: 2; }

[class*=input__] {
  padding-right: 50px;
  padding-top: 5px; }

[class*=button__] {
  outline: none;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  margin-top: 20px;
  padding: 3px 15px;
  color: #FEFCFB;
  background: #1282A2;
  border: none; }
  [class*=button__]:hover {
    background: #169fc7; }

.container-login-logo {
  display: none; }

/* @media 480px*/
@media screen and (min-width: 768px) {
  .container-register {
    background: teal; }
  .container-login {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .container-login__info {
      width: 485px; }
    .container-login-logo {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: 30%;
      height: 30%;
      margin: auto; }
      .container-login-logo__secundary {
        background: lightcyan; }
  [class*=input__] {
    padding-right: 2%;
    margin-right: 3em;
    padding-top: 5px; } }
