@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Lobster);


$color1:teal;
$color2:steelblue;


$main-title: 'Pacifico', cursive;
$login_info: 'Lobster', cursive;



/****************
*****************

Basic Reset


*****************
*****************/
*:before,
*:after{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
}
img{
  max-width: 100%;
}


/**********************
Styles for buttons
**********************/

[class*=label__]{
  padding-right: 20px;
  color:#FFF;
  font-family:$login_info;
  font-size: 1.3em;
}
[class*=input__]{
  margin-right: 20px;
}
.button_login{
  font-family:$login_info;
  font-size: 0.9em;
  color:#FFF;
  padding: 5px 15px;
  outline: none;
  background: rgba(#333,.6);
  border-color: $color2;
}




/**********************
Styles for Header
**********************/
.main-header{
  width: 100%;
  height: 70px;
  background-color: $color2;
  display: flex;
  justify-content: space-around;

  &__logo, &__login{
    line-height: 70px;
  }
  .main-title{
    font-family: $main-title;
    font-size:2.5em;
    color:#005050;
  }

}