 @import "components/base";

.main-header{
  background: $color1;
  width: 100%;
  height: 60px;

    &-title{
      color:$black;
      vertical-align: middle;
      text-align: center;
      font-size: 2.2em;
    }

    &-link__forgot,
    &-link__register{
      display: block;
      margin:2em 2em 20px 5px;
      color:$color3;
    }

}
 [class^=main-header-link__]:hover{
   color: $color1;
 }

.container-login,.container-register{
  width: 95%;
  //background: $color3;
  margin-left: auto;
  margin-right:auto;
  margin-top: 1em;

    &-subtitle{
      margin: 0 0 1em 8px;
      //background: coral;
    }
    &-form{
      width: 90%;
      height:auto;
      //background: red;
      padding: 1.5em 0;
      border: 2px solid $color1;
      margin: 0 auto 1em;
      //margin-bottom:1em;
    }

    &-logo{
      width: 100%;
    }
}

.container-register-subtitle{
  margin-top: 4em;
}

[class*=label__],
[class*=input__],
[class*=button__]{
  display: block;
  margin: 0 0 8px 5px;
  //background: coral;
}

[class*=label__] {
  color: $color3;
  font-family: $font_subtitle;
  font-size: 1.3em;
  line-height: 2;
}

[class*=input__]{
  padding-right: 50px;
  padding-top: 5px;
}
[class*=button__]{
  outline: none;
  font-family: $font-text;
  font-size: 1em;
  margin-top: 20px;
  padding: 3px 15px;
  color:$white;
  background: $color3;
  border: none;
  &:hover{
    background: lighten($color3,8%);
  }
}

 .container-login-logo{
   display: none;
 }
 .container-register__info{
   //background: khaki;
 }
/* @media 480px*/
 @media screen and (min-width: 480px) {
   .container-register{
     background: teal;
   }
  .container-login{
    display: flex;
    background: teal;
     &__info{
       width: 485px;
     }

    &-logo{
      display: block;
      //background: coral;
      width: 50%;
      padding:0 5px;
      margin-left: auto;
      margin-right:auto;

      &__secundary{
        display: flex;
        height: 50%;
        margin:auto;
        transform: translateY(8%);
        background: lightcyan;
      }
    }
  }
   [class*=input__]{
     padding-right: 2%;
     margin-right: 3em;
     padding-top: 5px;
   }

}