@import "components/base";
@import "components/_dashboard-vertical-menu";


body{
  padding-bottom: 50em;
}
.l-container{
  //background: coral;
  width: 90%;
  display: flex;
  justify-content: space-around;
  margin-left:auto;
  margin-right:auto;
}
.header{
  position: fixed;
  top: 0;
  right: 0;
  height: 40px;
  width: 100%;
  background: linear-gradient(
                  $color2,
                  $color1
  );
  margin-bottom: 2px;
  transition: .8s;

  &__main-logo,&__user{
    //width: 50%;
    height: 40px;
    line-height: 40px;
  }
  &__main-logo{
    padding-left: 10px;
    width: 40%;
    height: 60px;
  }

  &__user{
    width: 60%;
    display: flex;
    justify-content: space-around;
    //outline: 1px solid blue;
  }
  @include desde($pequeño){
    height: 60px;
    display: block;
    &__main-logo,&__user{
      height: 60px;
      line-height: 60px;
    }
    background: linear-gradient(280deg,
            $color1,
            $color2
    );
  }

}

.comunidades{
  position: fixed;
  top: 42px;
  height: 40px;
  width: 100%;
  background: linear-gradient(
              $color1,
              $color2
              );
  line-height: 40px;
  transition: .6s;
  @include desde($pequeño){
    top: 62px;
    width: 4em;
    text-align: center;
    //background: red;
    height: 100vh;
    background: linear-gradient(280deg,
                    $color1,
                    $color2
    );
    .menu-vertical{
      flex-direction: column;

    }
  }
}

[class*=icon-]{
    color: lighten($color3,6%);
}
[class*=__link]:focus{
  border-bottom:2px solid $color3;
}

