@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Lobster);


$color1:teal;
$color2:steelblue;


$main-title: 'Pacifico', cursive;
$login_info: 'Lobster', cursive;



/****************
*****************

Basic Reset


*****************
*****************/
*:before,
*:after{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
}
img{
  max-width: 100%;
}


/**********************
Styles for buttons
**********************/

[class*=label__]{
  //padding-right: 20px;
  color:$color2;
  font-family:$login_info;
  font-size: 1.3em;
  line-height: 4;
}

[class*=input__]{
}

.button_login{
  font-family:$login_info;
  font-size: 1.3em;
  color:#FFF;
  padding: 5px 15px;
  outline: none;
  background: rgba($color2,.8);
  border-color: $color2;
  margin-top: 30px;
  cursor: pointer;
}




/**********************
Styles for Header
**********************/
.main-header{
    width: 100%;
    height: 70px;
    background-color: $color2;
    //display: flex;
    //justify-content: space-around;

    &__logo{
      line-height: 70px;
    }
    .main-title{
      font-family: $main-title;
      font-size:2.5em;
      color:#005050;
    }

    &__login{
      width: 80%;
      border: 2px solid black;
      padding: 15px;
      margin: 5.5em auto;
      display:flex;
      flex-direction:column;
    }
      &__forgot,&__register{
        text-decoration: none;
        color:$color2;
        margin-top: 30px;
      }

}

/**********************
Styles for Register
**********************/
.main{
  margin-top: 100vh;
  width: 100%;

  &-subtitle{
    text-align: center;
    color:$color2;
    margin-bottom:2.5em;
    padding-top: 50px;
  }

  &-register{
    width: 80%;
    border: 2px solid $color1;
    padding: 15px;
    margin: 0 auto;
    display:flex;
    flex-direction:column;
  }
}

/* @media 480px*/
 @import "components/base";
