// Typography
@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);

$font-title: 'Pacifico', cursive;
$font_subtitle: 'Lobster', cursive;
$font-text: 'Roboto', sans-serif;

// Colors
$color1: #34B553;
$color2: #71F79F;
$color3: #1282A2;
$white: #FEFCFB;
$black: #202531;

